@charset "ISO-8859-1";
@charset "ISO-8859-1";
h1{
	color:white;
	size:30px;
	text-align: center;
}
ul{
	text-align:center;	
}
ul.a{
	text-align:right;
	margin-right: 20px;	
}
li.l{
	display:inline-table;
	padding:10px;
 	font-size:20px;	
}
li{
	display:inline-table;
	padding:10px;
 	font-size:20px;	
	text-shadow: 0 0 3px #408080;
}
li a.a1:hover{
	color:yellow;
	font-size:20px;
}

body{
	color:white;
	font-family:serif;
	background-color:#808080;
	text-align:center;
	align:center;
	background-image:url("proj1.jpg");	
	background-size: cover;
	background-attachment:fixed;
}
.header{
	color:white;
	width:100%;
	height:100px;
	padding: 20px;	
}
.formdata
{
	width:400px;
	height:auto;
	font-weight: bold;
	font-size:22px;
	text-align:center;
	border:2px solid white;
	border-radius:15px;
	margin-top:10px;
	display:inline-block;
}
.formdata1
{
	width:420px;
	height:auto;
	color:black;
	font-weight: bold;
	font-size:25px;
	text-align:center;
	border:2px solid white;
	border-radius:10px;
	margin-top:10px;
	display:inline-block;
}
.formdata2
{   
	font-family:Times New Roman;
	color:white;
	text-align:center;
	display:inline-block;
}
.formdata3
{
	width:auto;
	height:auto;
	font-weight: bold;
	font-size:22px;
	text-align:center;
	border:2px solid white;
	border-radius:15px;
	margin-top:10px;
	display:inline-block;
}

.formcontrol
{
	 padding: 10px;
	 height: 5px;
	 margin-top: 10px;
}
a{
	text-decoration: none;
	font-size: 22px;
	color:Yellow;
}
a.a1{
	text-decoration:none ;
	font-size: 22px;
	color:white;
}
a.a2
{
text-decoration:none ;
	font-size: 15px;
	color:white;
}
.formsubmitbutton
{
	width: 100px;
	height: 25px;
	border-radius: 20px;
	margin-top: 10px;		
}
.errors
{
	color:yellow;
	font-size: 22px;
}
.select-box{
   width:160px;
   height:24px;
   overflow: hidden;
   background: url("arrow.png") no-repeat right #fff;
   border: 1px solid #ccc;
   margin:auto;
}
.select-field{
	border:none;
   text-shadow: 0 0 3px #0080c0;
   font-size:16px;
   color:#b90f53;
}

1 of 616
(no subject)
Inbox
x

Pratibha chatla
Attachments
May 9, 2020, 10:15 PM (16 hours ago)
to me


Attachments area

@charset "ISO-8859-1";

h1{
	color:white;
	size:30px;
	text-align: center;
}
ul{
	background-color:"black";
	padding:0 0 0 20px;
	text-align:center;	
}
ul.a{
	text-align:right;
	margin-right: 20px;	
}
li.l{
	display:inline-table;
	padding:10px;
 	font-size:20px;	
}
li{
	display:inline-table;
	padding:10px;
 	font-size:20px;	
	text-shadow: 0 0 3px #408080;
}
li a.a1:hover{
	color:yellow;
	font-size:20px;
}

body{
	color:white;
	font-family:serif;
	background-color:#808080;
	text-align:center;
	align:center;
	background-image:url("proj1.jpg");	
	background-size: cover;
	background-attachment:fixed;
}
.header{
	color:white;
	width:100%;
	height:100px;
	padding: 20px;	
}
.formdata
{
	

	width:400px;
	height:auto;
	font-weight: bold;
	font-size:22px;
	text-align:center;
	border:2px solid white;
	border-radius:15px;
	margin-top:10px;
	display:inline-block;
}
.formdata1
{
	width:420px;
	height:auto;
	color:black;
	font-weight: bold;
	font-size:25px;
	text-align:center;
	border:2px solid white;
	border-radius:10px;
	margin-top:10px;
	display:inline-block;
}
.formdata2
{   
	font-family:Times New Roman;
	color:white;
	text-align:center;
	display:inline-block;
}
.formdata3
{
	width:auto;
	height:auto;
	font-weight: bold;
	font-size:22px;
	text-align:center;
	border:2px solid white;
	border-radius:15px;
	margin-top:10px;
	display:inline-block;
}

.formcontrol
{
	 padding: 10px;
	 height: 5px;
	 margin-top: 10px;
}
a{
	text-decoration: none;
	font-size: 22px;
	color:Yellow;
}
a.a1{
	text-decoration:none ;
	font-size: 22px;
	color:white;
}
a.a2
{
text-decoration:none ;
	font-size: 15px;
	color:white;
}
.formsubmitbutton
{
	width: 100px;
	height: 25px;
	border-radius: 20px;
	margin-top: 10px;		
}
.errors
{
	color:yellow;
	font-size: 22px;
}
.select-box{
   width:160px;
   height:24px;
   overflow: hidden;
   background: url("arrow.png") no-repeat right #fff;
   border: 1px solid #ccc;
   margin:auto;
}
.select-field{
	border:none;
   text-shadow: 0 0 3px #0080c0;
   font-size:16px;
   color:#b90f53;
}
.content-table {

  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 2px solid #dddddd;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #c0c0c0;
}

.content-table tbody tr:last-of-type {
 border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}
.content-table tbody tr:hover {
          background-color:#404040;
        }
.content-table tbody tr.active-row {
  font-weight: bold;
  color: #400040;
}

table.t1{
	background-color:#c0c0c0; 
	text-align:center;
	margin-top: 15px;
	margin-bottom: 10px;
	align:center;
}
button{
	background-color:#0080c0;
	color:white; 
}
.column {
  float: left;
  width: 45%;
  padding: 5px;
}

.row::after {
  display: table;
}